
<button style="margin-left: 5px" class="btn btn-default btn-lg" data-toggle="modal" data-target="#addCourse">
  Add New Course
</button>
<button style="margin-left: 5px" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editCourse">
  Edit Course
</button>
<button style="margin-left: 5px" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#deleteCourse">
  Delete Course
</button>


<div data-bind=" kendoGrid: {
                data: coursesData, 
                height :400, 
                width:200, 
                columns : courseColumns, 
                scrollable: true, 
                filterable: {
                    operators: {
                        string: {
                            eq: 'Equals to',
                            neq: 'Not Equals to',
                            contain: 'Contains'
                                },
                        number: {
                            eq: 'Equal to',
                            neq: 'Not equal to',
                            gte: 'Greater than or equal to',
                            gt: 'Greater than',
                            lt: 'Less than',
                            lte: 'Less than or equal to'
                                }
                               },  
                    extra: false,
                    messages: {
                        info: 'Filter by: ',
                        filter: 'Apply filter',
                        clear: 'Clear filter'
                              }
                        },
                sortable: {
                    mode: 'multiple'
                },
                groupable: {
                    messages: {
                        empty: 'Drop Columns Here'
                    }
                },
                navigatable: true,
                selectable: 'multiple cell',   
                resizable: true,
                reorderable: true,
                pageable: { pageSize: 10,refresh: true } 
                }">
</div>


<!--SAVE NEW-->

<div class="form-group modal fade" id="addCourse" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="demo-form">
                    <label for="abbr">Abbrevation :</label>
                    <input type="text" name="abbr" data-bind="value: insertableCourse.abbr" required />
                    <label for="abbr">Title :</label>
                    <input type="text" name="abbr" data-bind="value: insertableCourse.title" required />
                    <button type="submit" class="btn-danger" data-bind="click: saveCourse" >ADD</button>
                </form>
            </div>
        </div>
    </div>
</div>
   
    
<!--UPDATE-->
<div class="modal fade" id="editCourse" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-warning col-lg-4">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="icon-long-arrow-right"></i>Update Course</h3>
                    </div>
                    <div class="panel-body">
                        <label for="course_id">Course ID:</label>
                        <input type="text" class="form-control" id="course_id" data-bind="value: editableCourse.course_id">            
                        <label for="abbr">Abbrevation:</label>
                        <input type="text" class="form-control" id="abbr" data-bind="value: editableCourse.abbr">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" id="title" data-bind="value: editableCourse.title"><br>
                        <button style="float:left; margin: 5px" class="btn btn-success btn-sm" type="button" data-bind="click: updateCourse">Update Course</button>
                        <button style="float:left; margin: 5px" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <div  style="clear:both; text-align:center; margin:0px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Delete-->
<div class="modal fade" id="deleteCourse" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-warning col-lg-4">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="icon-long-arrow-right"></i>Delete Course</h3>
                    </div>
                    <div class="panel-body">
                        <label for="course_id">Course ID:</label>
                        <input type="text" class="form-control" id="course_id" data-bind="value: deleteableCourse.course_id">  <br>          
                        <button style="float:left; margin: 5px" class="btn btn-success btn-sm" type="button" data-bind="click: deleteCourse">Delete Course</button>
                        <button style="float:left; margin: 5px" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <div  style="clear:both; text-align:center; margin:0px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





