
<button style="margin-left: 5px" class="btn btn-default btn-lg" data-toggle="modal" data-target="#addCustomer">
  Add New Customer
</button>
<button style="margin-left: 5px" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editCustomer">
  Edit Customer
</button>
<button style="margin-left: 5px" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#deleteCustomer">
  Delete Customer
</button>


<div data-bind=" kendoGrid: {
                data: customersData, 
                height :400, 
                width:200, 
                columns : customerColumns, 
                scrollable: true, 
                filterable: {
                    operators: {
                        string: {
                            eq: 'Equals to',
                            neq: 'Not Equals to',
                            contain: 'Contains'
                                },
                        number: {
                            eq: 'Equal to',
                            neq: 'Not equal to',
                            gte: 'Greater than or equal to',
                            gt: 'Greater than',
                            lt: 'Less than',
                            lte: 'Less than or equal to'
                                }
                               },  
                    extra: false,
                    messages: {
                        info: 'Filter by: ',
                        filter: 'Apply filter',
                        clear: 'Clear filter'
                              }
                        },
                sortable: {
                    mode: 'multiple'
                },
                groupable: {
                    messages: {
                        empty: 'Drop Columns Here'
                    }
                },
                navigatable: true,
                selectable: 'multiple cell',   
                resizable: true,
                reorderable: true,
                pageable: { pageSize: 10,refresh: true } 
                }">
</div>


<!--SAVE NEW-->

<div class="form-group modal fade" id="addCustomer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                    <label for="abbr">Title :</label>
                    <input type="text" name="title" data-bind="value: insertableCustomer.title" required />
                    <label for="abbr">Address :</label>
                    <input type="text" name="address" data-bind="value: insertableCustomer.address" required /><br>
                    <button style="float:left; margin: 5px" class="btn btn-success btn-sm" type="button" data-bind="click: saveCustomer">Add Customer</button>
                    <button style="float:left; margin: 5px" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
   
    
<!--UPDATE-->
<div class="modal fade" id="editCustomer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-warning col-lg-4">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="icon-long-arrow-right"></i>Update Customer</h3>
                    </div>
                    <div class="panel-body">
                        <label for="customer_id">Customer ID:</label>
                        <input type="text" class="form-control" id="customer_id" data-bind="value: editableCustomer.customer_id">            
                        <label for="abbr">Title:</label>
                        <input type="text" class="form-control" id="title" data-bind="value: editableCustomer.title">
                        <label for="title">Address:</label>
                        <input type="text" class="form-control" id="address" data-bind="value: editableCustomer.address"><br>
                        <button style="float:left; margin: 5px" class="btn btn-success btn-sm" type="button" data-bind="click: updateCustomer">Update Customer</button>
                        <button style="float:left; margin: 5px" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <div  style="clear:both; text-align:center; margin:0px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Delete-->
<div class="modal fade" id="deleteCustomer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-warning col-lg-4">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="icon-long-arrow-right"></i>Delete Customer</h3>
                    </div>
                    <div class="panel-body">
                        <label for="customer_id">Customer ID:</label>
                        <input type="text" class="form-control" id="customer_id" data-bind="value: deleteableCustomer.customer_id">  <br>          
                        <button style="float:left; margin: 5px" class="btn btn-success btn-sm" type="button" data-bind="click: deleteCustomer">Delete Customer</button>
                        <button style="float:left; margin: 5px" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <div  style="clear:both; text-align:center; margin:0px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
