<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a>
            <a class="brand" href="index.html" title="E - by Soft22" style="padding-top:0; padding-bottom:0"><img src="img/E50X50.png" style="height: 40px; margin: none; padding:none"/></a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                class="icon-user"></i> Username <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Settings</a></li>
                            <li><a href="javascript:;">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse --> 
        </div>
        <!-- /container --> 
    </div>
    <!-- /navbar-inner --> 
</div>
<!-- /navbar -->
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav" data-bind="foreach: router.navigationModel">
                    <li data-bind="css: { active: isActive }">
                        <a class="icon-list-alt" data-bind="attr: { href: hash }, html: title"> </a>
                    </li>
                <!--<li class="active"><a href="index.html"><i class="icon-dashboard"></i><span>Dashboard</span> </a> </li>
                <li><a href="reports.html"><i class="icon-list-alt"></i><span>Students</span> </a> </li>
                <li><a href="" data-bind="attr: { href: router.navigationModel()[2].hash }"><i class="icon-list-alt"></i><span>Courses</span> </a></li>
                <li><a href="charts.html"><i class="icon-list-alt"></i><span>Batches</span> </a> </li>
                <li><a href=""><i class="icon-list-alt"></i><span>Users</span> </a> </li>
                <li><a href="#customers"><i class="icon-list-alt"></i><span>Customers</span> </a> </li>
                <li><a href="shortcodes.html"><i class="icon-calendar"></i><span>Events</span> </a> </li>
                <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-long-arrow-down"></i><span>Extras</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="icons.html">Help</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="login.html">About Soft22</a></li>
                    </ul>
                </li>--> 
            </ul>
        </div>
        <!-- /container --> 
    </div>
    <!-- /subnavbar-inner --> 
</div>
<!-- /subnavbar -->
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row container-fluid page-host"  data-bind="router: { transition:'entrance', cacheViews:true }" style="min-height :500px">
            </div>
            <!-- /row --> 
        </div>
    </div>
    <!-- /main-inner --> 
</div>
<!-- /main -->
<div class="footer">
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="span12"> &copy; 2014, <a href="http://soft22.co.in">Soft22 Software Solutions</a>. </div>
                <!-- /span12 --> 
            </div>
            <!-- /row --> 
        </div>
        <!-- /container --> 
    </div>
    <!-- /footer-inner --> 
</div>
<!-- /footer --> 