<div class="row" id="dashboard">
    <div id="all_suppliers" class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="icon-long-arrow-right"></i> Me<button style="float:right" class="btn btn-xs" type="button" onclick="all_suppliers()">Edit profile</button></h3></h3>
            </div>
            <div class="panel-body">
                <table id="supplier_list" class="table table-bordered table-hover tablesorter">
                    <tr><td rowspan="4" width="100px"><img src="images/1.JPG" style="width:100px; border:2px solid #999999"/></td><th></th></tr>
                    <tr><th>ASHISH ASHOK SWAMI</th></tr>
                    <tr><td><b>Master of Computer Application (MCA)<br/>Professional Experience:</b> 6 months</td></tr>
                    <tr><td><b>Current Location:</b> Badlapur, Maharashtra<br/><b>Permanent Location:</b> Badlapur, Maharashtra</td></tr>
                </table>
                <button style="float:right" class="btn btn-success btn-sm" type="button">View Complete Profile</button>
            </div>
        </div>
    </div>





    <div id="all_customers" class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="icon-long-arrow-right"></i> Upcoming Events<button style="float:right" class="btn btn-xs" type="button" onclick="all_customers()">View all</button></h3></h3>
            </div>
            <div class="panel-body">
                <table id="customer_list" class="table table-bordered table-hover tablesorter">
                    <tr><th style="text-align:center">Event</th><th style="text-align:center">Date</th><th style="text-align:center">Time</th><th width="1" style="text-align:center">Venue</th><th width="1" style="text-align:center">Candidates</th></tr>
                    <tr><td>TCS aptitude & GD</td><td>02/01/14</td><td>10:00 am</td><td>S3</td><td> <button class="btn btn-success btn-sm" type="button" onclick="$.fancybox({href: '#customer_details'})">List</button></td></tr>
                    <tr><td>ExtremeMedia final round</td><td>04/01/14</td><td>2:00 pm</td><td>T2</td><td> <button class="btn btn-success btn-sm" type="button" onclick="$.fancybox({href: '#customer_details'})">List</button></td></tr>
                    <tr><td>SBI Life final round</td><td>12/01/14</td><td>11:00 am</td><td>Conference room</td><td> <button class="btn btn-success btn-sm" type="button" onclick="$.fancybox({href: '#customer_details'})">List</button></td></tr>
                </table>

                <div  style="clear:both; text-align:center; margin:0px;">
                    <ul id="customer_pages" style="margin:0px;display:none" class="pagination pagination-sm">
                    </ul>


                </div>


            </div>
        </div>
    </div>

</div>